.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body{
    margin: 0px;
}
body #can{
    background-color: antiquewhite;
    display:block ;
}

body .action #rubber{
    position: fixed;
    left: 40px;
    bottom: 40px;
}

.action #brush{
    display: none;
}

.actionx .icon{
    display: inline-block;
    position: fixed;
    left: 40px;
    bottom:40px
}
