*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

main{
    text-align: center;
}

#divF{
    display: inline-block;
    vertical-align: top;
}

kbd{
    border: 1px solid red;
    display: inline-block;
    padding: 10px 30px 30px 10px;
    margin: 2px;
    position: relative;
}

kbd button{
    position: absolute;
    font-size: 10px;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover button{
    display: inline-block;
}

