.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background: url(),gray ,center,center,no-repeat;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#divF{
    display: inline-block;
    vertical-align: top;
}

kbd{
    display: inline-block;
    padding: 10px 30px 30px 10px;
    margin: 2px;
    position: relative;
}

kbd button{
    position: absolute;
    font-size: 10px;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover button{
    display: inline-block;
}

.key{
    width: 47px;
    height: 69px;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 69px;
    float: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 0 12px 12px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

mian key-link{
    display: inline-block;
    vertical-align: top;
}

